.header {
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-buttons {
  background-color: whitesmoke;
  color: black;
  padding: 8px;
  border-radius: 12px;
}
