.form-container {
  width: 50%;
  margin: auto;
  border: 1px solid green;
  padding: 15px;
  margin-top: 85px;
}

.form-container > Form {
  text-align: center;
}

.page-header {
  text-align: center;
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
}
